
@model MovieViewModel

@{
    ViewData["Title"] = "My WatchList";
}

<h2>Watchlist</h2>

<div class="panel panel-default movie-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <!--
    <td>&#x2714;</td>
            -->
            <td>Title</td>
            <td>YearOfRelease</td>
            <td>WatchPriority</td>
        </tr>
    </thead>

    @foreach(var movie in Model.Movies)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.YearOfRelease</td>
            <td>@movie.WatchPriority</td>
        </tr>
    }
</table>