@page "/movies"

<PageTitle>Movies</PageTitle>

<h3>Movies (h3)</h3>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <></>
}

@code {

    private Movie[]? movies;


    private class Movie
    {
        public string Title { get; set; }
    }
}